asgiref==3.5.2
cffi==1.15.1
cryptography==37.0.4
Django==4.1
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
django-user-messages==0.8.0
mysqlclient==2.1.1
Pillow==9.2.0
pycparser==2.21
pytz==2022.2.1
screen==1.0.1
sqlparse==0.4.2
tzdata==2022.2
xlwt==1.3.0