body{
   background-color: white;
}
.navbar{
            background-color: orange;
            }
.navbar li{
float:left;
list-style: none;
margin: 13px 20px;
}
.navbar ul{
            overflow: auto;
        }

.navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: black;
            font-size:22px;
        }
