{% extends 'base.html' %} {% block 'home' %}
<h2>Welcome To UASG Portal</h2>
{% if user.is_authenticated %}
        <p>welcome, {{ user.username }}</p>
{% endif %}
<p>
  Universal Acceptance is a foundational requirement for a truly multilingual
  Internet, one in which users around the world can navigate entirely in local
  languages. It is also the key to unlocking the potential of new generic
  top-level domains (gTLDs) to foster competition, consumer choice and
  innovation in the domain name industry.
</p>
{% endblock %}
